<div>
	<h1 class="text-center headtitle">ABOUT ME</h1><br>

			<a href="http://uk.linkedin.com/in/tobyretallick">
				<img class="img-responsive social" src="assets/linkedinstd.jpg" height="50" width="50" alt="Find Toby on Linkedin">
			</a><br>
			<a href="https://github.com/randy234">
				<img class="img-responsive social" src="assets/octocat.jpg" height="50" width="50" alt="Find Toby on Github">
			</a>

	</div>

<section>
	<div class="row section">
		<div class="col-md-3">
			<h2 class="text-center">Specialisms</h2>
		</div>

		<div class="col-md-9 aboutright">
			<p>Digital Strategy, Project Management, Brand Development, Product Development, Online Communities, Digital Communications.</p>
		</div>
	</div>
</section>

<section>
	<div class= "row">
		<div class="col-md-3">					
			<h2 class="text-center">Skills</h2>	
		</div>

		<div class="col-md-9 aboutright">		
			<p>Languages: HTML5, CSS3, Twitter Bootstrap, jQuery, JavaScript, Ruby.</p>
			<p>CMS: Drupal, MODx, Joomla and Wordpress.</p>
			<p>Analysis: Google Analytics, Webmaster Tools, 4Q, Crazy Egg, SPSS, Simul8, Microsoft Excel</p>
			<p>CRM: Raiser's Edge, Gifts</p>
			<p>UX Tools: Balsamiq</p>
			<p>Creative Tools: Photoshop, Camtasia, Sony Vegas Studio.</p>
			<p>Ecommerce: WorldPay</p>
			<p>Promotion: Adwords, SEO, MailChimp</p>
		</div>
	</div>
</section>

<section>
	<div class= "row">
		<div class="col-md-3">						
			<h2 class="text-center">Speaking</h2>	
		</div>

		<div class="col-md-9 aboutright">
			<p>July 2013: Digital Impact Conference, <a href="http://www.charitycomms.org.uk/events/digital-impact-conference">Charity Comms.</a> The Untapped Potential of Online Communities.</p>
		</div>
	</div>
</section>

<section>
	<div class="row">	
		<div class="col-md-3">		
			<h2 class="text-center">Work History </h2>
		</div>
		<div class="col-md-9 aboutright">
			<p><strong>Jan 2012 - Present: Head of Communications &amp; IT,<a href="http://www.youthmusic.org.uk"> National Foundation for Youth Music</a></strong></p>
			<p>Heading up a team of five, I'm responsible for the development of all digital products and overseeing delivery of strategies to generate public support and income.</p><br>

			<p><strong>Jan 2013 - Jul 2013: Digital Advisor, <a href="www.climatestrategies.org">Climate Strategies</a></strong></p>
			<p>Volunteered my services pro-bono and conducted a full digital communications audit and UX 'expert review'. Made recommendations for short and medium term digital strategy.</p><br>
								
			<p><strong>Mar 2011 - Jan 2013: Digital Project Manager, <a href="http://www.youthmusic.org.uk">National Foundation for Youth Music</a></strong></p>
			<p>Responsible for leading a cross-departmental team to design and build an online community platform for beneficiaries which today has 6,000 members.</p><br>

			<p><strong>Aug 2008 - Mar 2011: Marketing Manager, <a href="http://www.youthmusic.org.uk">National Foundation for Youth Music</a></strong></p>
			<p>Responsible for building the national profile of a training and advice service for beneficiaries, coordinating the marketing activities of nine regional teams and bringing new products to market.</p><br>

			<p><strong>Apr 2007 - Aug 2008: Website Manager, <a href="http://www.youthmusic.org.uk">National Foundation for Youth Music</a></strong></p>
			<p> Responsible for the day-to-day management and development of a large online training platform.</p><br>

			<p><strong>Jun 2006 - Apr 2007: Regional Communications Officer, <a href="http://www.oft.gov.uk/consumer-advice">Consumer Direct</a></strong></p>
			<p>Responsible for coordinating all regional public relations activity and increasing call volume to the helpline.</p>
		</div>		
	</div>
</section>

<section>
	<div class= "row">
		<div class="col-md-3">				
			<h2 class="text-center">Qualifications</h2>
		</div>
		<div class="col-md-9 aboutright">	
			<p>2010: Coaching Accreditation, Performance Coach Training Ltd, London</p>
			<p>2003: PGDipMgmt, University of Canterbury</p>
			<p>2002: BCom, University of Canterbury</p>
		</div>
	</div>

	<div class= "row">
		<div class="col-md-3">	
			<h2 class="text-center">Memberships</h2>
		</div>
		<div class="col-md-9 aboutright">
			<p>Organisation Member of <a href="http://http://www.charitycomms.org.uk">Charity Comms</a> and member of the Heads of Digital Group</p>
		</div>
	</div>
</section>

<section>
	<div class="row">	
		<div class="col-md-3">
			<h2 class="text-center">Training</h2>
		</div>
		<div class="col-md-9 aboutright">
			<p>Current: <a href="http://ruby.learncodethehardway.org/">Learn Rails the Hard Way</a> / Zed Shaw.</p>
			<p>Current: <a href="http://http://learn-rails.com">Learn Ruby on Rails</a> / Daniel Kehoe.</p>
			<p>2013: <a href = "http://cli.learncodethehardway.org/book/">The Command Line Crash Course</a> / Zed Shaw.</p>
			<p>2013: <a href ="https://www.onemonthrails.com">One Month Rails</a> / Mattan Griffel.</p>
			<p>2013: Ruby, Javascript and HTML/CSS Tracks / <a href="http://www.codecademy.com/chair">Code Academy</a>.</p>
			<p>2013: User Experience Online Course / <a href="http://www.userfocus.co.uk/training/online-ux-training.html">User Focus</a>.</p>
			<p>2012 - Current: Charity Comms Mentoring Programme Participant. Mentored by <a href="http://www.linkedin.com/pub/nicky-gaskell/19/919/3b3">Nicky Gaskell</a>, Starbucks.</p>
			<p>2012: <a href="https://www.udemy.com/html5-css3-responsive/?sl=AEAdcF5X">HTML &amp; CSS from Scratch</a> / Jonathon Grover.</p>
			<p>2012: <a href="https://www.coursera.org/course/gamification">Gamification</a> (Distinction awarded). / Pennsylvania State University / Coursera.</p>
			<p>2011: Qualified Performance Coach. / Performance Coach Training Ltd.</p>
			<p>2011: Effective Project Management / Centre for Strategy &amp; Communications.</p>
			<p>2010: Advanced Google Analytics / iVantage.</p>
		</div>
	</div>
</section>