<div>
	<h1 class="text-center">ABOUT ME</h1>
</div>

<section>
	<div class="row section">
		<div class="col-md-3">
			<h2 class="text-center">Specialisms</h2>
		</div>

		<div class="col-md-9 aboutright">
			<p>Digital Strategy, Project Management, Brand Development, Product Development, Online Communities, Digital Communications.</p>
		</div>
	</div>
</section>

<section>
	<div class= "row">
		<div class="col-md-3">					
			<h2 class="text-center">Skills</h2>	
		</div>

		<div class="col-md-9 aboutright">		
			<p>Languages: HTML5, CSS3, jQuery, JavaScript, Ruby.</p>
			<p>CMS: Drupal, Rails, MODx, Joomla, ASP.net and Wordpress.</p>
			<p>Analysis: Google Analytics, Webmaster Tools, 4Q, Crazy Egg, SPSS, Simul8, Microsoft Excel</p>
			<p>CRM: Raiser's Edge, Gifts</p>
			<p>UX Tools: Balsamiq</p>
			<p>Creative Tools: Photoshop, Camtasia, Sony Vegas Studio.</p>
			<p>Ecommerce: WorldPay</p>
			<p>Promotion: Adwords, SEO, MailChimp</p>
		</div>
	</div>
</section>

<section>
	<div class= "row">
		<div class="col-md-3">						
			<h2 class="text-center">Speaking</h2>	
		</div>

		<div class="col-md-9 aboutright">
			<p>July 2013: Digital Impact Conference, <a href="http://www.charitycomms.org.uk/events/digital-impact-conference">Charity Comms.</a> The Untapped Potential of Online Communities.</p>
		</div>
	</div>
</section>

<section>
	<div class="row">	
		<div class="col-md-3">		
			<h2 class="text-center">Work History </h2>
		</div>
		<div class="col-md-9 aboutright">
			<p>Jan 2012 - Present: Head of Communications</b> &amp; IT,<a href="http://www.youthmusic.org.uk"> National Foundation for Youth Music</a></p>
			<!--<p>Responsible for leading a team of four and overseeing delivery of strategies to generate public support and income.</p>-->

			<p> Jan 2013 - Jul 2013: Digital Advisor, <a href="www.climatestrategies.org">Climate Strategies</a></p>
			<!--<p>Conducted digital communications audit and devised a new digital strategy for a climate research organisation on a voluntary basis.</p>-->
								
			<p> Mar 2011 - Jan 2013: Digital Project Manager, <a href="http://www.youthmusic.org.uk">National Foundation for Youth Music</a></p>
			<!--<p>Responsible for leading a cross-departmental team to design and build an online community platform for benefciaries.</p>-->

			<p> Aug 2008 - Mar 2011: Marketing Manager, <a href="http://www.youthmusic.org.uk">National Foundation for Youth Music</a></p>
			<!--<p>Responsible for building the national profile of a training and advice service for beneficiaries, coordinating the marketing activities of nine regional teams and introducing new products.</p>-->

			<p> Apr 2007 - Aug 2008: Web Officer, <a href="http://www.youthmusic.org.uk">National Foundation for Youth Music</a></p>
			<!--<p> Responsible for the day-to-day management and development of a large online training resource.</p>-->

			<p> Jun 2006 - Apr 2007: Regional Communications Officer, <a href="http://www.oft.gov.uk/consumer-advice">Consumer Direct</a></p>
			<!--<p>Responsible for coordinating all regional public relations activity and building profile fo rthe service.</p>-->
		</div>		
	</div>
</section>

<section>
	<div class= "row">
		<div class="col-md-3">				
			<h2 class="text-center">Qualifications</h2>
		</div>
		<div class="col-md-9 aboutright">	
			<p>2010: Coaching Accreditation, Performance Coach Training Ltd, London</p>
			<p>2003: PGDipMgmt, University of Canterbury</p>
			<p>2002: BCom, University of Canterbury</p>
		</div>
	</div>

	<div class= "row">
		<div class="col-md-3">	
			<h2 class="text-center">Memberships</h2>
		</div>
		<div class="col-md-9 aboutright">
			<p>Organisation Member of <a href="http://http://www.charitycomms.org.uk">Charity Comms</a> and member of the Heads of Digital Group</p>
		</div>
	</div>
</section>

<section>
	<div class="row">	
		<div class="col-md-3">
			<h2 class="text-center">Training</h2>
		</div>
		<div class="col-md-9 aboutright">
			<p>2013: <a href ="https://onemonthrails.com"/>One Month Rails</a> / Mattan Griffel.</p>
			<p>2013: Ruby Track / <a href="http://www.codecademy.com/chair">Code Academy</a>.</p>
			<p>2013: User Experience Online Course / <a href="http://www.userfocus.co.uk/training/online-ux-training.html">User Focus</a>.</p>
			<p>2012 - Current: Charity Comms Mentoring Programme Participant. Mentored by Nicky Gaskell, Starbucks.</p>
			<p>2012: <a href="https://www.udemy.com/html5-css3-responsive/?sl=AEAdcF5X">HTML &amp; CSS from Scratch</a> / Jonathon Grover.</p>
			<p>2012: <a href="https://www.coursera.org/course/gamification">Gamification</a> (Distinction awarded). / Pennsylvania State University / Coursera.</p>
			<p>2011: Qualified Performance Coach. / Performance Coach Training Ltd.</p>
			<p>2011: Effective Project Management / Centre for Strategy &amp; Communications.</p>
			<p>2010: Advanced Google Analytics / iVantage.</p>
		</div>
	</div>
</section>