

<!--Banner -->

  <div class="row">
      
    <div class= "col-sm-4 col-md-4 col-lg-4">
  		<img class="img-responsive" src="assets/chunk.jpg" alt="Picture of Toby Retallick">
    </div>

    <div class="col-sm-8 col-md-8 col-lg-8">
  		<h1>Welcome to my online cv</h1><br>
  		<p class="homeintro">"I am a brand and digital specialist with more than seven years' client-side experience. I'm passionate about creating great digital experiences that help solve people's problems."</p>
    </div>

  </div>

  <!-- Case study examples -->
  <div class="casestudies">
    <h1 class="text-center headtitle">SOME OF MY BEST WORK</h1>
      
      <div class="row examplecta">

        <div class="col-sm-6 col-md-6 col-lg-6">
          <div class="thumbnail">
  		      <a href="mywork">
              <img class="img-responsive hmthumb" src="assets/community.jpg" alt="Youth Music Network">
            </a>
            <div class="caption">
              <h3 class="text-center">PRODUCT</h3>
              <p class="text-center">Design, build & growth of an online community for 6,000 subscribers.</p>
            </div>
          </div>
        </div>
  
        <div class="col-sm-6 col-md-6 col-lg-6">
          <div class="thumbnail">
            <a href="mywork"><img class="img-responsive hmthumb" src="assets/climate.jpg" alt="Climate Strategies"></a>
            <div class="caption">
  		        <h3 class="text-center">STRATEGY</h3>
              <p class="text-center">Digital strategy audit and improving audience reach for an environmental organisation.</p>
  		      </div>
          </div>
        </div>

      </div>

      <div class="row examplecta">

        <div class="col-sm-6 col-md-6 col-lg-6">
          <div class="thumbnail">
            <a href="/mywork"><img src="assets/pinteresting.jpg" class="img-responsive hmthumb" alt="Pinteresting"></a>
            <div class="caption">
              <h3 class="text-center thumbtitle">WEB DEVELOPMENT</h3>
              <p class="text-center">Hand-coding apps with Ruby & Bootstrap.</p>
            </div>
          </div>
        </div>

        <div class="col-sm-6 col-md-6 col-lg-6">
          <div class="thumbnail">
            <a href="/mywork"><img class="img-responsive hmthumb" src="assets/brand.jpg" alt="Youth Music"></a>
            <div class="caption">
              <h3 class="text-center thumbtitle">RE-BRANDING</h3>
              <p class="text-center">A complete overhaul from the inside-out.</p>
          </div>
        </div>

      </div><!-- end row -->
    </div>
  </div> <!-- end case study examples -->
