
		<div class="row">
  		<div class="col-md-3">
				<img class="img-rounded img-responsive" src="assets/chunk.jpg" alt="Picture of Toby Retallick">
			</div>
			<div class="col-md-9 pull-right">
				<h1>WELCOME TO MY ONLINE CV</h1><br>
				<p class="homeintro">"I am a brand and digital specialist with more than seven years' client-side experience. I'm passionate about online communities and creating digital environments that enable people to do good things."</p><br>
				<p><%= link_to "Find out more...", about_path, class: "btn btn-primary btn-lg pull-right" %></p>
			</div>
		</div>

	