
	<div class="hero-unit">
		<h1>Welcome to my online cv.</h1><br>
			<p>I am a brand and digital specialist with more than seven years' client-side experience. I'm passionate about online communities and creating digital environments that enable people to do good things.</p><br>
			<p><%= link_to "Find out more...", about_path, class: "btn btn-primary btn-large" %></p>
	</div>

	