<div>
	<h1 class="text-center">MY WORK</h1>
</div>

<div class="row section">
	<div class="col-md-4 workleft">
		<a href="http://network.youthmusic.org.uk"><img class="img-responsive img-thumbnail" src="assets/community.jpg" alt="Youth Music Network"></a>
	</div>

	<div class="col-md-8">
		<h2>Online Communities</h2>
		
		<p>In 2011 I was seconded to lead a cross departmental team on the creation of a new online community for music education professionals.</p>

		<p>Built on the drupal platform, the <a href="http://network.youthmusic.org.uk">Youth Music Network</a> today has more than 5,000 subscribers.
		80% of the content is created by the community allowing the sharing of a wealth of expertise and know-how between professionals.</p>

		<p>My success with the Youth Music Network lead to me being invited to speak about 'building online communties' at the <a href="http://www.charitycomms.org.uk">Charity Comms Digital Impact Conference </a>in 2013.</p><br>

		<p class="well well-lg">"Toby has been an excellent Project Manager delivering the new Youth Music Network on time. He has shown great tact and diplomacy in managing the team of people tasked with delivering the project. He is a great team player and has been a pleasure to work with."<b> Andrew Jermey, Region & Nations Manager, Youth Music.</b></p>
	</div>
</div>
	
<div class="row section">
	<div class="col-md-4 workleft">
		<a href="http://www.youthmusic.org.uk"><img class="img-responsive img-thumbnail" src="assets/ymwebsite.jpg" alt="Youth Music"></a>
	</div>

	<div class="col-md-8">
		<h2>Branding</h2>
			<p>In 2013 I took the lead on Youth Music's first rebranding exercise. Youth Music had been through a lot of organisational change and needed to do more to engage supporters.</p>

			<p>Working with <a href="http://www.audiencecommunications.com/">Audience Communications</a> I helped create a revised vision, mission and values for the Charity before creating a new visual identity with the help of <a href="www.mcsaatchi.com/london">M&amp;C Saatchi</a>.</p>

			<p>Outputs included brand guidelines, reskinned <a href="http://www.youthmusic.org.uk">supporter website</a> and <a href="http://www.twitter.com/youthmusic">social media</a>, <a href="http://www.youtube.com/watch?v=V4mt8K_xzcQ">showreel video</a> and staff resources. The launch of the brand was met with great acclaim at a sold out <a href="http://www.youtube.com/watch?v=cJTs91K9EYw">Breakfast Seminar</a> streamed live on the web.</p><br>

			<p class="well well-lg">"Love @youthmusic new circular branding - modern, focused &amp; grown up in an intelligent way. Exudes trust too." <strong>Plymouth Music Zone.</strong></p>

	</div>
</div>

<div class="row section">
	<div class="col-md-4 workleft">
		<a href="http://www.climatestrategies.org"><img class="img-responsive img-thumbnail" src="assets/climate.jpg" alt="Climate Strategies"></a>
	</div>
							
	<div class="col-md-8">
		<h2>Digital Strategy</h2>
		
		<p>I volunteered my services to Climate Strategies in to help them improve their digital offer and grow their audience.</p>
		
		<p>Outputs included conducting a digital communications audit, strategy development and maintenance of website, blog and social media.</p><br>

		<p class="well well-lg">"Toby conducted an excellent digital media audit for Climate Strategies, he was a very professional advisor and contributed significantly to increasing the impact of our work"<strong> Andrzej Blachowicz, Managing Director at Climate Strategies.</strong></p>
	</div>
</div>
	
<div class="row section">
	<div class="col-md-4 workleft">
		<a href="http://tobyr.herokuapp.com"><img class="img-responsive img-thumbnail" src="assets/code.jpg" alt="Climate Strategies"></a>
	</div>	

	<div class="col-md-8">
		<h2 class="section_title">Frontend Development</h2>

		<p>The website you are reading now first went live in July 2013 and was hand-coded using simple HTML5/CSS3 design.</p>

		<p>After taking Mattan Griffel's <a href="https://onemonthrails.com">'One Month Rails'</a> course I rebuilt the site in October 2013 using Ruby on Rails and Twitter Bootstrap.</p>

		<p>I plan to keep improving the site over the coming months as well as broadening my technical expertise in other areas, particularly, the Ruby programming language. I would love to hear any feedback you may have on my website. Please drop me a line!</p>
	</div>	
</div>