
<div class="pagetitle">
	<h1 class="text-center headtitle">MY WORK</h1>
</div>

<!--Product Management -->
	<div class="casestudy">	
		<section>
			<div>
				<h2 class="text-center sectionheader">Product Management</h2>
			</div>

			<div class="sectionbody">
				<p>In 2011 I was seconded to lead a cross departmental team on the creation of a new online community for music education professionals.</p>

				<p>Built on the Drupal platform, the <a href="http://network.youthmusic.org.uk">Youth Music Network</a> has more than 6,000 members. 80% of the content is created by the community allowing the sharing of a wealth of expertise and know-how between professionals. Ongoing development is 'agile' and done in close consultation with users.</p>

				<p>My success with the Youth Music Network lead to me being invited to speak about 'building online communities' at the <a href="http://www.charitycomms.org.uk">Charity Comms Digital Impact Conference </a>in 2013.</p>
			</div>

			<div class="row examples">
				<div class="col-sm-6 col-md-6 col-lg-6">
					<a href="http://network.youthmusic.org.uk"><img class="img-responsive thumbnail" src="assets/community.jpg" alt="Youth Music Network"></a>
				</div>

				<div class="col-sm-6 col-md-6 col-lg-6">
					<p class="quote">"Toby has been an excellent Project Manager. He has shown great tact and diplomacy in managing the team of people tasked with delivering the project. He's a great team player and has been a pleasure to work with."</p>
					<p class="quote text-right"><strong>Andrew Jermey, Region & Nations Manager, Youth Music.</strong></p>
				</div>
			</div>
		</section>
	</div>
	<!--Product Management ends -->


	<!--Branding -->
	<div class="casestudy">
		<section>
			<div>
				<h2 class="text-center sectionheader">Branding</h2>
			</div>

			<div class="sectionbody">

				<p>In 2013 I took the lead on Youth Music's first re-branding exercise. Youth Music had been through a lot of organisational change and needed to do more to engage supporters.</p>

				<p>Working with <a href="http://www.audiencecommunications.com/">Audience Communications</a> I helped create a revised vision, mission and values for the Charity before creating a new visual identity with the help of <a href="www.mcsaatchi.com/london">M&amp;C Saatchi</a>.</p>

				<p>Outputs included brand guidelines, new <a href="http://www.youthmusic.org.uk">supporter website</a>, <a href="http://www.twitter.com/youthmusic">re-skinned social media</a>, <a href="http://www.youtube.com/watch?v=V4mt8K_xzcQ">showreel video</a> and staff resources. The launch of the brand was met with great acclaim at a sold out <a href="http://www.youtube.com/watch?v=cJTs91K9EYw">Breakfast Seminar</a> streamed live on the web. In Aug this year, a successful bid was made to the postcode lottery for £100k which was directly attributed to the re-brand.</p>

			</div>

			<div class="row examples">
				<div class="col-sm-6 col-md-6 col-lg-6">
					<a href="http://www.youthmusic.org.uk"><img class="img-responsive thumbnail" src="assets/brand.jpg" alt="Youth Music"></a>
				</div>

				<div class="col-sm-6 col-md-6 col-lg-6">
					<p class="quote">"Love @youthmusic new circular branding - modern, focused &amp; grown up in an intelligent way. Exudes trust too."</p>
					<p class="quote text-right"><strong>Plymouth Music Zone.</strong></p>
				</div>
			</div>
		</section>
	</div>
	<!-- Branding ends -->


	<!-- Digital strategy -->
	<div class="casestudy">
		<section>
			<div>
				<h2 class="text-center sectionheader">Digital Strategy</h2>
			</div>

			<div class="sectionbody">

				<p>I volunteered my services to Climate Strategies in to help them improve their digital offer and grow their audience. Outputs included conducting a digital communications audit, strategy development and maintenance of website, blog and social media.</p>

			</div>

			<div class="row examples">
				<div class="col-sm-6 col-md-6 col-lg-6">
					<a href="http://www.climatestrategies.org"><img class="img-responsive thumbnail" src="assets/climate.jpg" alt="Climate Strategies"></a>
				</div>
								
				<div class="col-sm-6 col-md-6 col-lg-6">
					<p class="quote">"Toby conducted an excellent digital media audit for Climate Strategies, he was a very professional advisor and contributed significantly to increasing the impact of our work"</p>
					<p class="quote text-right"><strong> Andrzej Blachowicz, Managing Director at Climate Strategies.</strong></p>
				</div>
			</div>
		</section>
	</div>
	<!-- digital strategy ends -->

	<!-- web development -->
	<div class="casestudy">
		<section>
			<div>
				<h2 class="text-center sectionheader">Web Development</h2>
			</div>

			<div class="sectionbody">
				<p>The website you are reading now first went live in July 2013 and was hand-coded using simple HTML5/CSS3 design.</p>

				<p>After taking Mattan Griffel's <a href="https://onemonthrails.com">'One Month Rails'</a> course I rebuilt the site in October 2013 using Ruby on Rails and Twitter Bootstrap. I also created a <a href="http://safe-oasis-6895.herokuapp.com/">clone of Pinterest</a>.</p>

				<p>I plan to keep improving the site over the coming months as well as broadening my technical expertise in other areas, particularly, the Ruby programming language. I would love to hear any feedback you may have on my website. <a href="mailto:toby.retallick@gmail.com">Please drop me a line!</a></p>
			</div>

		<div class="row examples">
			<div class="col-sm-6 col-md-6 col-lg-6">
				<a href="http://tobyr.herokuapp.com"><img class="img-responsive thumbnail" src="assets/code.jpg" alt="Toby's online cv"></a>
			</div>

			<div class="col-sm-6 col-md-6 col-lg-6">
				<a href="http://safe-oasis-6895.herokuapp.com/"><img class="img-responsive thumbnail" src="assets/pinteresting.jpg" alt="Pinteresting"></a>
			</div>
		</div>
	</section>
</div>
