$navbar-default-bg: black;
$navbarHeight: 60px;
$navbarBrandColor: white;
$navbar-height: 70px;
$navbar-default-link-color: white;
$navbar-default-link-hover-color: blue;
$navbar-default-link-hover-bg: white;
$headings-font-family: 'Oswald';
$headings-font-weight: 700;


@import url(http://fonts.googleapis.com/css?family=Oxygen);
@import url(http://fonts.googleapis.com/css?family=Radley);
@import url(http://fonts.googleapis.com/css?family=The+Girl+Next+Door);
@import url(http://fonts.googleapis.com/css?family=Oswald);

@import 'bootstrap';

body {
	padding-top: 160px;
}


p {
	font-family: 'Radley';
	font-size: 22px;
	color: #5C5C5C;
}

.homeintro {
	font-family: 'Radley';
	font-size: 26px;
	color: #5C5C5C;
}


.navbar-brand {
	font-family: 'Oswald';
	font-size: 26px;
	font-weight: bold;
}

.nav li {
	font-family: 'Radley';
	font-size: 20px;
}

.footer {
	margin-top: 120px;
	background-color: black;
	padding-top: 10px;
	padding-bottom: 10px;
}

.footertitle {
	font-family: 'Oswald';
	color: white;
	text-align: center;
}

.siteinfo {
	color: white;
	text-align: right;
	margin-right: 20px;
	font-size: .8em;
}

.social {
	display: block;
  margin: 0 auto;
}

.aboutright {
	padding-top: 20px;
	padding-bottom: 20px;
}

.workleft {
	padding-top: 8px;
	padding-bottom: 100px;
}

.workhead {
	padding-top: 13px;
	padding-left: 70px;
	margin-bottom: 50px;
	}

.section {
	margin-top: 50px;
}

.img-thumbnail {
	margin-top: 15px;
}

.quote {
	font-family: 'Oswald';
	color: black;
}

.hero {
	margin-bottom: 80px;
}

.thumb {
	padding: 20px 20px;
}

.thumbtitle {
	padding-bottom: 20px;
}

.examplecta {
	margin-bottom: 50px;
}

.headtitle {
	font-size: 50px;
	margin-bottom: 30px;
}