$navbar-default-bg: black;
$navbarHeight: 60px;
$navbarBrandColor: white;
$navbar-height: 70px;
$navbar-default-link-color: white;
$navbar-default-link-hover-color: #3498db;
$navbar-default-link-hover-bg: white;
$link-color: #3498db;
$headings-font-family: 'Oswald';
$headings-font-weight: 700;


@import url(http://fonts.googleapis.com/css?family=Oxygen);
@import url(http://fonts.googleapis.com/css?family=Radley);
@import url(http://fonts.googleapis.com/css?family=Roboto:300);
@import url(http://fonts.googleapis.com/css?family=Oswald);

@import 'bootstrap';

body {
	padding-top: 160px;
}


p {
	font-family: 'Roboto';
	font-size: 18px;
	color: #5C5C5C;
}

.hmthumb {
	padding: 10px 10px 0px;
}

.homeintro {
	font-family: 'Radley';
	font-size: 26px;
	color: #5C5C5C;
}


.navbar-brand {
	font-family: 'Oswald';
	font-size: 26px;
	font-weight: bold;
}

.nav li {
	font-family: 'Radley';
	font-size: 20px;
}

.footer {
	margin-top: 120px;
	background-color: black;
	padding-top: 10px;
	padding-bottom: 10px;
}

.footertitle {
	font-family: 'Oswald';
	color: white;
	text-align: center;
}

.siteinfo {
	color: white;
	margin-right: 20px;
	font-size: .8em;
}

.social {
	display: block;
  margin: 0 auto;
}

.aboutright {
	padding-top: 20px;
	padding-bottom: 20px;
}

.workleft {
	padding-top: 8px;
	padding-bottom: 100px;
}

.workhead {
	padding-top: 13px;
	padding-left: 70px;
	margin-bottom: 50px;
	}

.section {
	margin-top: 50px;
}


.quote {
	font-family: 'Radley';
	font-size: 24px;
	color: #7f8c8d;
	padding-top: 10px;
}

.casestudies {
	margin-top: 80px;
}

.thumbnail {
	margin-top: 20px;
}

.thumbnail:hover {
	border: 1px solid #e74c3c;
}


.thumb {
	padding: 20px 20px;
}

.examplecta {
	margin-bottom: 50px;
}

.headtitle {
	font-size: 70px;
}

.casestudy {
	margin-top: 90px;
}

.sectionbody {
	margin-top: 30px;
}

.examples {
	margin-top: 30px;
}

.sectionheader {
	font-size: 40px;
}