<div class="footer">
	<h3 class="footertitle">LET'S TALK</h3>
		<div class="social">
				<a href="mailto:toby.retallick@gmail.com"><img class ="img-responsive" src="assets/email.jpg" height="50" width="50" alt="Email Toby"></a>
				<a href="http://www.twitter.com/tobyretallick"><img class ="img-responsive" src="assets/twitter2.jpg" height="50" width="50" alt="Send Toby a tweet"></a>
				<a href="http://uk.linkedin.com/in/tobyretallick"><img class="img-responsive" src="assets/linkedin.jpg" height="50" width="50" alt="Message Toby on Linkedin"></a>
		</div>
	<p class="siteinfo">This site was built by Toby Retallick using <a href="http://rubyonrails.org">Rails</a> and <a href="http://getbootstrap.com">Bootstrap</a></p>
</div>