<div class="footer">
	<h3 class="footertitle">LET'S TALK</h3>
		<div class="social">
				<a href="mailto:toby.retallick@gmail.com"><img class ="img-responsive" src="assets/email.jpg" height="50" width="50"></a>
				<a href="http://www.twitter.com/tobyretallick"><img class ="img-responsive" src="assets/twitter2.jpg" height="50" width="50"></a>
				<a href="http://uk.linkedin.com/in/tobyretallick"><img class="img-responsive" src="assets/linkedin.jpg" height="50" width="50"></a>
		</div>
	<p class="siteinfo">This site was built by Toby Retallick using Rails and Bootstrap</p>
</div>