<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
             <a class="brand" href="/">TOBY RETALLICK</a>

                <div class="nav-collapse">
                    <ul class="nav pull-right">
                        <li>    
                            <%= link_to 'ABOUT',  about_path %>
                        </li>
                        <li>    
                            <%=link_to "MY WORK", mywork_path %>
                        </li>
                        <li>    
                            <%=link_to "CONTACT", contact_path %>
                        </li>
                    </ul>
                </div>
        </div>
    </div>
</div>

